.jfx-hamburger {
    -fx-background-color: #1f1f18;
}

.jfx-hamburger StackPane {
    -fx-background-color: white;
    -fx-background-radius: 10;
}

.jfx-slider > .colored-track {
    -fx-background-color: #ffcc00;
}